<section class="jumbotron">
    <h1>Find your ideal job!</h1>
    <p>
        Are you sick and tired with skimming through endless lists of vacancies on dozens of webpages?<br>
        Why don't you just fill your profile now and wait until your brand new job finds you!<br>
        Let the most innovative and brilliant algorithms dive into our immense base of job ads and provide you
        with a perfect match.
    </p>
    <div class="text-center">
        <a class="btn btn-lg btn-info" href="/signup/True">&laquo; I'm a recruiter</a>
        <a class="btn btn-lg btn-warning" href="/signup/False">I'm a jobseeker &raquo;</a>
    </div>
</section>
<!--
<section class="row">
    <div class="col-sm-4">
        <article class="panel panel-success">
            <header class="panel-heading">
                <h3 class="panel-title">Upload your CV!</h3>
            </header>
            <div class="panel-body">
                <p>
                    Should you want to speed up your recruitment process it is a good idea to upload your CV<br>
                    We will send it to the company as soon as you accept your match:
                </p>
                <button class="btn btn-success btn-block">Upload CV</button>
            </div>

        </article>
    </div>
    <div class="col-sm-4">
        <article class="panel panel-warning">
            <header class="panel-heading">
                <h3 class="panel-title">How does it work?</h3>
            </header>
            <div class="panel-body">
                <p>
                    Have you been wondering how does ScopeIT work and why is it better from your previous
                    job-searching web pages? You can read what are the algorithms and ideas behind ScopeIT!
                </p>
                <button class="btn btn-warning btn-block">Learn more</button>
            </div>
        </article>
    </div>
    <div class="col-sm-4">
        <article class="panel panel-info">
            <header class="panel-heading">
                <h3 class="panel-title">Fill your profile faster!</h3>
            </header>
            <div class="panel-body">
                <p>
                    Have you spent hours on polishing your LinkenIn profile?<br>
                    You can import your skills to ScopeIT profile!<br><br>
                </p>
                <button class="btn btn-info btn-block">Import skills from LinkedIn</button>
            </div>
        </article>
    </div>
</section>
-->