{% load staticfiles %}
{% load socialaccount %}
{% load account %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>ScopeIT</title>
    <base href="/">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% include 'javascripts.html' %}

    {% block dependencies %} {% endblock dependencies %}
</head>
<body ng-app="scopeit">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ScopeIT</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li><a href="/accounts/profile/">Profile</a></li>
                    <li><a href="/accounts/matches/">Matches found</a></li>
                    <li><a href="/about/">About us</a></li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'api:api-root' %}">API</a></li>
                    <li><a href="/admin/">Admin page</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            {% if request.user.first_name or request.user.last_name %}
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            {% else %}
                                {{ request.user.username }}
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown dropdown-lg">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Log in <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-lg panel panel-default">
                            <login-form></login-form>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    {% block header %}{% endblock %}
    {% block content %}
        <ng-view></ng-view>
    {% endblock %}
</main>
</body>
</html>
