{% load staticfiles %}
{% load socialaccount %}
{% load account %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>ScopeIT</title>
    <base href="/">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% include 'javascripts.html' %}

    {% block dependencies %} {% endblock dependencies %}
</head>
<body ng-app="scopeit">
<navbar></navbar>
<main class="container">
    {% block header %}{% endblock %}
    {% block content %}
        <ng-view></ng-view>
    {% endblock %}
</main>
</body>
</html>
