{% load staticfiles %}
{% load socialaccount %}
{% load account %}
<!DOCTYPE HTML>
<html ng-app="ScopeIT">
<head>
    <meta charset="utf-8">
    <title>ScopeIT</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/common/controllers.js' %}"></script>
    {% block dependencies %} {% endblock dependencies %}
</head>
<body ng-controller="MainController">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ScopeIT</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/accounts/profile/">Profile</a></li>
                {% if request.user.is_superuser %}
                <li><a href="/api/">API</a></li>
                <li><a href="/admin/">Admin page</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <p class="navbar-text">
                        {% if request.user.first_name or request.user.last_name %}
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                    </p>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li class="dropdown dropdown-lg">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Log in <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-lg panel panel-default">
                            <form class="panel-body" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="login"
                                           placeholder="e.g. Smith89">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-sm btn-success btn-block">Log in</button>
                                <a href="{% url 'account_signup' %}" role="button"
                                   class="btn btn-sm btn-info btn-block">
                                    Sign up
                                </a>
                                <hr>
                                <a href="{% provider_login_url 'google' method='oauth2' %}"
                                   class="btn btn-sm btn-danger btn-block">
                                    Log in with Google
                                </a>
                            </form>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    {% block header %}{% endblock %}
    {% block content %}
    <section class="jumbotron">
        <h1>Find your ideal job!</h1>
        <p>
            Are you sick and tired with skimming through endless lists of vacancies on dozens of webpages?<br>
            Why don't you just <a href="#">fill your profile now</a> and wait until your brand new job finds you!<br>
            Let the most innovative and brilliant algorithms dive into our immense base of job ads and provide you
            with a perfect match.
        </p>
        <!-- <button class="btn btn-lg btn-primary">Learn more &raquo;</button> -->
    </section>
    <section class="row">
        <div class="col-sm-4">
            <article class="panel panel-success">
                <header class="panel-heading">
                    <h3 class="panel-title">Upload your CV!</h3>
                </header>
                <div class="panel-body">
                    <p>
                        Should you want to speed up your recruitment process it is a good idea to upload your CV<br>
                        We will send it to the company as soon as you accept your match:
                    </p>
                    <button class="btn btn-success btn-block">Upload CV</button>
                </div>

            </article>
        </div>
        <div class="col-sm-4">
            <article class="panel panel-warning">
                <header class="panel-heading">
                    <h3 class="panel-title">How does it work?</h3>
                </header>
                <div class="panel-body">
                    <p>
                        Have you been wondering how does ScopeIT work and why is it better from your previous
                        job-searching web pages? You can read what are the algorithms and ideas behind ScopeIT!
                    </p>
                    <button class="btn btn-warning btn-block">Learn more</button>
                </div>
            </article>
        </div>
        <div class="col-sm-4">
            <article class="panel panel-info">
                <header class="panel-heading">
                    <h3 class="panel-title">Fill your profile faster!</h3>
                </header>
                <div class="panel-body">
                    <p>
                        Have you spent hours on polishing your LinkenIn profile?<br>
                        You can import your skills to ScopeIT profile!<br><br>
                    </p>
                    <button class="btn btn-info btn-block">Import skills from LinkedIn</button>
                </div>
            </article>
        </div>
    </section>
    {% endblock %}
</main>
</body>
</html>
